<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Tambah Pegawai</title>

	</head>
	<body>
		<h3>Tambah Pegawai</h3>
		<form th:action="@{/pegawai/tambah}" th:object="${pegawaiCmd}" method="POST">
			<table>
				<tr>
					<td>
						Nama
					</td>
					<td>
						<input type="text" name="nama" th:field="*{nama}"/>
					</td>
				</tr>
				<tr>
					<td>
						Tempat Lahir
					</td>
					<td>
						<input type="text" name="tempat_lahir" th:field="*{tempat_lahir}"/>
					</td>
				</tr>
				<tr>
					<td>
						Tanggal Lahir
					</td>
					<td>
						<input type="date" name="tanggal_lahir" th:field="*{tanggal_lahir}"/>
					</td>
				</tr>
				<tr>
					<td>
						Tahun Masuk
					</td>
					<td>
						<input type="number" name="tahun_masuk" th:field="*{tahun_masuk}"/>
					</td>
				</tr>
				<tr>
					<td>
						Provinsi
					</td>
					<td>
						<select class="form-control" style="width: 100%" id="provinsi" name="provinsi" th:field="*{id_provinsi}">
							<option th:each="provinsi : ${provinsiList}" th:value="${provinsi.id}" th:text="${provinsi.nama}" ></option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						Nama Instansi
					</td>
					<td>
						<select class="form-control" style="width: 100%" th:field="*{instansi}" name="instansi" id="instansi">
							<option selected="selected" th:value="''"></option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						Jabatan
					</td>
					<td>
						<select class="form-control" style="width: 100%" th:field="*{id_jabatan}">
							<option th:each="jabatan : ${jabatanList}" th:value="${jabatan.id}" th:text="${jabatan.nama}" ></option>
						</select>
					</td>
				</tr>
			</table>
			<button type="submit">Submit</button>
		</form>
	</body>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
    $('#provinsi').change(
        function() {
            $.getJSON("http://localhost:8080/getInstansis", {
                provinsiId : $(this).val()
            }, function(data) {
                var html = '<option value="">Pilih Instansi</option>';
                var len = data.length;
                for ( var i = 0; i < len; i++) {
                    html += '<option th:value="${' + data[i].id + '}">'
                        + data[i].nama + '</option>';
                }
                html += '</option>';
                $('#instansi').html(html);
            });
        });
/*]]>*/
</script>
</html>