<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <table>
        <tbody>
            <tr>
                <td>Lihat Data Pegawai : </td>
                <td th:text="${pegawai.nip}"></td>
            </tr>
            <tr>
                <td>NIP : </td>
                <td th:text="${pegawai.nip}"></td>
            </tr>
            <tr>
                <td>Nama : </td>
                <td th:text="${pegawai.nama}"></td>
            </tr>
            <tr>
                <td>Tempat Lahir : </td>
                <td th:text="${pegawai.tempat_lahir}"></td>
            </tr>
            <tr>
                <td>Tanggal Lahir : </td>
                <td th:text="${pegawai.tanggal_lahir}"></td>
            </tr>
            <tr>
                <td>Tahun Masuk : </td>
                <td th:text="${pegawai.tahun_masuk}"></td>
            </tr>
            <tr>
                <td>Instansi : </td>
                <td th:text="${pegawai.jabatanfull}"></td>
            </tr>
            <tr>
                <td>Instansi : </td>
                <td>
                    <ul th:each="jabatan: ${jabatanPegawaiModels}">
                        <li th:text="${jabatan.getNamaJabatan()}"></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Gaji : </td>
                <td th:text="${gaji}"></td>
            </tr>
        </tbody>
    </table>
</html>